.input-form {
  padding-left: 5%;
  font-size: 30px;
  text-align: left;
}

p{
  margin-top: 1.5%;
}

.input-form:focus {
  background-color: lightblue;
}

#wrapper{
  margin-top: 2.5%;
}

#left-col{
    display:block;
    float:left;
}
#right-col{
    padding-left: 10%;
    display:block;
    float:left;
}

a{
  margin-top: 2.5%;
}

select{

}
