.container-box{
  margin-right: 5%;
}

.input-form {
  font-size: 30px;
  text-align: left;
  margin-top: 5%;
}

.label{
  padding-top: 4px;
  padding-bottom: 4px;
}

.left-col{
    padding-left: 5%;
    display:block;
    float:left;
}

.right-col{
    padding-left: 10%;
    display:block;
    float:left;
}

.input-text {
  width: 100%;
}


.select-category{
  width: 500px;
  height: 60px;
  border: 1px;
}

.submit-button {
  background-color: #ecac3f;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 200px;
}

@media (max-width: 575px) { 
  .input-text {
    border: 1px solid lightgrey;    
  }
  .input-num{
    width: 50%;
    border: 1px solid lightgrey;        
  }
  .input-box {
    border: 1px solid lightgrey;        
    width: 100%;
  }
  .select-category {
    width: 95%;
    
  }
 .input-form {
    font-size: 20px;
  }
  .right-col{
    padding-left: 5%;    
    float: left;
  }
  .left-col{
    padding-left: 5%;
  }
  .submit-button {
    font-size: 20px;
    padding: 10px 50px;
  }
}