html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: white !important;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: row; 
}

.Logo {
  width: 80px; 
  height: 80px;
  color: darkgrey;
  background-color: lightgrey;
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 110px;
  background-color: darkgrey;
  overflow: hidden;
  color: white;
}

.Store {
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 768px) { 
  h4 {
    font-size: 1.25rem !important;
  }
  
  h5 {
    font-size: 1rem !important;
  }
  .Logo {
    width: 60px;
    height: 60px;
  }

  .Nav {
    flex: 0 0 90px;
  }

  .NavButtonCircle {
    border-radius: 3em !important; 
    width: 3em !important;
    height: 3em !important; 
  }
}

@media (max-width: 575px) { 
  h4 {
    font-size: 1rem !important;
  }
  
  h5 {
    font-size: 0.75rem !important;
  }
  .Logo {
    width: 50px;
    height: 50px;
  }

  .Nav {
    flex: 0 0 70px;
  }

  .NavButtonCircle {
    border-radius: 2.5em !important; 
    width: 2.5em !important;
    height: 2.5em !important; 
  }
}

.NavButtonCircle {
  border-radius: 4.5em; 
  width: 4em; 
  height: 4em; 
  background-color: white;
}

.NavButtonRec {
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 7vh;
  width: 98%;
  color: darkgray;
  background-color: white;
}

.NavContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
