.container-box {
    margin-top: 50px;
    text-align: left;
}

.row {
    text-align: center;
}

.btn {
    color: white !important;
    margin-top: 30px;
}

.btn-seller {
    background-color:#FFC567 !important;
    height: 350px;
    width: 70%;
    font-size: 50px !important;
    margin-top: 8%; 
}

.btn-seller:hover {
    background-color: white !important;    
    border: 5px solid #FFC567 !important;
    color: #FFC567 !important;    
}

.btn-buyer {
    background-color:#67D5FF !important;
    height: 350px;
    width: 70%;
    font-size: 50px !important;
    margin-top: 8%;     
}

.btn-buyer:hover {
    background-color: white !important;     
    border: 5px solid #67D5FF !important;
    color: #67D5FF !important;   
}

.menu-register {
    margin-top: 50px;
}

.box-quote {
    border-left: 6px solid #F5AB0E;
    background-color: rgba(95,95,95,0.1);
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;  
    padding: 5px;  
    font-size: 20px !important;
}

.data-input-head {
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;   
}

.form-control {
    width: 88%;
    margin-top: 1%;
}

.btn-register {
    color: white !important;
    background-color: #F5AB0E;
    margin-top: 4%;
    margin-bottom: 10%;    
    height: 49px;
    width: 79%;
}

.btn-register:hover {
    color: #F5AB0E !important;
    background-color: white;
    border: 3px solid #FFC567 !important;
}

@media (max-width: 500px) {
    .btn-seller {
        height: 180px;
        width: 70%;
        font-size: 30px !important;
        margin-top: 10%; 
    }

    .btn-buyer {
        height: 180px;
        width: 70%;
        font-size: 30px !important;        
    }

    .data-input-head {
        font-size: 16px;
        margin-top: 5%;
    }

    .box-quote {
        margin-top: 10%;
        font-size: 16px;
    }
}   