.btn {
    color: white !important;
    height: 400px;
    width: 400px;
    margin: 30px;
    font-size: 50px !important;
    margin-top: 40px;
}

.btn-seller {
    background-color:#FFC567 !important;
}

.btn-buyer {
    background-color:#67D5FF !important;
}

.menu-register {
    margin-top: 50px;
}