.container-box {
    text-align: left;
}

.btn {
    color: white !important;
    margin-top: 30px;
}

.btn-seller {
    background-color:#FFC567 !important;
    height: 400px;
    width: 70%;
    font-size: 50px !important;
}

.btn-buyer {
    background-color:#67D5FF !important;
    height: 400px;
    width: 70%;
    font-size: 50px !important;
}

.menu-register {
    margin-top: 50px;
}

.box-quote {
    border-left: 6px solid #F5AB0E;
    background-color: rgba(95,95,95,0.1);
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;  
    padding: 5px;  
    font-size: 20px !important;
}

.data-input-head {
    margin-left: 10%;
    margin-top: 3%;   
}

.data-input-field-s {
    height: 40px;
    width: 88%;
    margin-top: 1%;
}

.data-input-field-l {
    height: 125px;
    width: 88%;
    margin-top: 1%;
}

.data-input-field-xl {
    height: 215px;
    width: 88%;
    margin-top: 1%;
}

.btn-register {
    color: white !important;
    background-color: #F5AB0E;
    margin-left: 10%;
    margin-top: 4%;
    height: 49px;
    width: 79%;
}