.Store {
  height: 100%;
  text-align: center;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin: 15px;
  border: 1px solid grey;
}

.ProductCard:hover {
  background-color: grey; 
}

.ProductImg {
  background-color: lightgrey;
  flex: 2;
}

.ProductInfo {
  flex: 1;
  color: darkgrey;
  text-align: left;
}

.ProductName {
  font-size: 1.5rem;
}

.ProductDetail {
  font-size: 1rem;
}

.ProductPrice {
  font-size: 1rem;
}

.NoPadding{
  padding: 0;
}

.CategoryCard {
  padding-bottom: 50%;
  background-color: grey;
  border: 1px solid lightgray;
}

h2 {
  margin-top: 15px;
}