.store {
  height: 100%;
  text-align: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 380px;
  border: 1px solid grey;
}

.product-img {
  flex: 2;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  color: darkgrey;
  text-align: left;
  color: #5F5F5F;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  height: 36px;
  overflow-y: hidden;
}

.product-detail {
  font-size: 1rem;
  height: 48px;
  overflow-y: hidden;
}

.product-price {
  font-size: 1.5rem;
  justify-content: space-between;
}

.no-padding{
  padding: 0;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #574D4F;
  border: 1.5px solid #4C4345;
  font-size: 36px;
}

.category-card:hover {
  background-color: #413A38;
  color: #edac14;
  transition: 0.5;
}

@media (max-width: 575px) { 
  .category-card {
    height: 250px;
  }
}

.line {
  width: 50px;
  border-width: 2.5px;
}

.top-bar {
  height: 7%;
  cursor: pointer;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.store-header {
  color: grey;
  text-align: center;
  margin: 10px 0;
}

.icon-margin {
  margin-right: 10px;
}

.inner-header {
  display: inline-flex; 
  align-items: center; 
  margin-top: 15px;
}

.product-text-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin: 15px;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.sm-img {
  width: 180px;
  height: 220px;
}

.xs-img {
  width: 120px;
  height: 120px;
}

.lg-img {
  width: 500px;
  height: 800px;
}
