.Store {
  height: 100%;
  text-align: center;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 380px;
  border: 1px solid grey;
}

.ProductImg {
  background-color: lightgrey;
  flex: 2;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  color: darkgrey;
  text-align: left;
  color: #5F5F5F;
}

.ProductName {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProductDetail {
  font-size: 1rem;
}

.ProductPrice {
  font-size: 1.5rem;
  justify-content: space-between;
}

.NoPadding{
  padding: 0;
}

.CategoryCard {
  height: 300px;
  background-color: lightgrey;
  border: 1px solid gray;
  
}

@media (max-width: 575px) { 
  .CategoryCard {
    height: 250px;
  }
}

.line {
  width: 50px;
  border-width: 2.5px;
}

.TopBar {
  height: 7%;
  cursor: pointer;
}